/* CSS Document */

.TaoLop{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 10px 30px 30px 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.TaoLop h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.TaoLop input[type="text"],
.TaoLop input[type="date"],
.TaoLop input[type="datetime"],
.TaoLop input[type="email"],
.TaoLop input[type="number"],
.TaoLop input[type="search"],
.TaoLop input[type="time"],
.TaoLop input[type="url"],
.TaoLop input[type="password"],
.TaoLop textarea,
.TaoLop select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.TaoLop textarea{
	resize:none;
	overflow: hidden;
}
.TaoLop input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: Ubuntu-Bold;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left:290px;
}
.backbutton{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	position:absolute;
	cursor: pointer;
	color: #FFFFFF;
	font-family: Ubuntu-Bold;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left:5px;
}

.ignorebutton{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #666666;
	border: 1px solid #666666;
	display: inline-block;
	position:absolute;
	cursor: pointer;
	color: #FFFFFF;
	font-family: Ubuntu-Bold;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left:5px;
}

.TaoLop input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
.backbtn:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
.ignorebutton:hover {
	background-color:black;
}

.cancelbtn {
	float:right;
	font-size:36px; 
	color:red;
}
.cancelbtn:hover{
	color:#FF541B;
}